.products-list {
  list-style: none;
  padding: 0;
  width: 220px;
  /*border-bottom: 1px solid #ccc;*/
}

.products-list li {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 0;
  cursor: pointer;
   user-select: none;
  -webkit-user-select: none;
}

.products-list li:last-child {
  border-bottom: 1px solid #ccc;
}

.products-list li:hover,
.products-list li.active {
  background-color: #ccc;
}
